body {
  color: white;
  background: black;
}

a {
  color: black;
  font-style: bold;
}

.hero {
  position: relative;
  height: 100%;
  margin: 10px auto;
  max-width: 900px;
  min-height: 400px;
  width: 100%;
}

.title {
  background: black;
  border-radius: 5%;
  border: none;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  left: 0;
  max-width: 200px;
  padding: 20px;
  position: absolute;
  text-align: left;
  top: 0;
  transition: top 2s linear;
  width: auto;
  border: solid 1px;
}

.title a {
  color: white;
}

.large {
  width: 200px;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  position: fixed;
  transition: top 2s ease-in;
}

.title h1,
h2,
h3 {
  margin: 3px;
}

iframe {
  min-height: 300px;
  max-height: 400px;
  height: 100%;
  width: 100%;
  border: none;
  scroll-behavior: unset;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
