body {
  color: white;
  background: black;
}

a {
  color: black;
  font-style: bold;
}


.container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  max-width: 1025px;
}

.card {
  min-width: 100px;
  min-height: 200px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  color: white;
  font-weight: bold;
  /* font-size: 3em; */
  text-align: center;
  border: none;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  background: black;
  background-position: 0 200px;
  transition: background 2s linear;
}

.card__flexFont:hover, .card__flexFont:hover ~ .card__flexFont {
  background: red;
  background-image: linear-gradient(0deg, black,red, black);
}

.card__flexFont:hover a, .card__flexFont:hover ~ .card__flexFont a {
  color: white;
}

.card__video:hover, .card__video:hover ~ .card__video {
  background:red;
  background-image: linear-gradient(0deg,black, red, black, red,black);
}

.card__video {
  min-width: 250px;
  width: 100%;
  max-width: 600px;
  flex-grow: 1;
}

.card__calendar {
  padding: 0;
}

.card__calendar iframe {
  min-height: 400px;
  height: 100%;
}

.card__event {
  background: #efefef;
  color: black;
  font-size: 2em;
}

.card__event .card__date {
  font-size: 0.7em;
}

.card__event .card__title {
  font-weight: bold;
}

.card__event a{
  font-size: 0.7em;
  color: black;
}

.hero {
  height: 100%;
  margin-top: 10px;
  max-width: 900px;
  min-height: 300px;
  width: 100%;
}

.hero iframe {
  max-height: none; /* to keep it bigger */
}

.card__image {
  max-width: 100%;
  max-height: 250px;
}


.title {
  background: black;
  border-radius: 5%;
  border: none;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  left: 0;
  max-width: 200px; 
  padding: 20px;
  position: absolute;
  text-align: left;
  top: 0;
  transition: top 2s linear;
  width: auto;
  border: solid 1px;
}

/* @media only screen and (max-width: 400px) {
  .card {
    max-width: 100%;
  }

  .title {
    width: 100%;
    max-width: none;
  }
} */

.title a {
  color: white;
}

.large {
  width: 200px;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
  position: fixed;
  transition: top 2s ease-in;
}

.title h1, h2, h3 {
  margin: 3px;
}

iframe {
  min-height: 300px;
  max-height: 400px;
  height: 50%;
  width: 100%;
  border: none;
  height: 100%;
}

iframe .ytp-chrome-top {
  display: none;
}